.box{
  width: 100%;
  height: 105 px;
  background: black;
}

.column {
  float: left;
  width: 75px;
  padding: 5px;
}

.column2 {
  float: left;
  width: 75%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 32px;  
}

.button {
  border: 0px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}